#adminmenu .wp-submenu {
	margin-left: 0;
}

.radios-container {
	max-height: 250px;
	overflow-y: auto;
}

.radio-transparent input[type=radio]:checked ~ .check {
  	background-color: rgb(255, 255, 255) !important;
}
.radio-transparent input[type=radio]:checked~.circle, 
.radio-default input[type=radio]:checked~.circle {
	border-color: rgb(255, 255, 255) !important;
}