.align-right {
  text-align: right;
}
.align-left {
   text-align: left;
}
.align-center {
   text-align: center;
}
.navbar .navbar-brand {
   height: 100px !important;
   font-size: 30px !important;
}
.navbar .navbar-brand {
   line-height: 50px !important;
   padding: 25px 15px !important;
}
.navbar .navbar-nav>li {
   padding-top: 25px;
}
.navbar .navbar-nav>li>a {
   font-size: 14px;
   font-weight: bold;
   padding-bottom: 10px;
   padding-top: 10px;
   text-transform: uppercase;
}
.navbar .navbar-brand .logo {
   display: inline-block;
   max-width: 144px;
   position: relative;
   top: -25px;
}
.navbar .custom-brand-text>li>a {
   font-size: 20px;
   font-style: italic;
   font-weight: 400;
}
.navbar-right .open:not(:last-child) .dropdown-menu {
   right: auto;
   left: 0;
   width: 150%;
}
.navbar-transparent.navbar {
   background-color: rgba(255, 255, 255, 0.01) !important;
   color: rgb(26, 148, 234) !important;
}
.navbar-transparent.navbar .navbar-nav>.open>a {
   background-color: rgba(255, 255, 255, 0.9) !important;
}
.navbar-transparent.navbar .navbar-nav>.open>.dropdown-menu {
   background-color: rgba(255, 255, 255, 0.9) !important;
}
.navbar-transparent.navbar .navbar-form .form-control-wrapper input.form-control::-webkit-input-placeholder,
.navbar-transparent.navbar .navbar-form input.form-control::-webkit-input-placeholder {
   background-color: rgba(255, 255, 255, 0.01) !important;
}
.navbar-transparent.navbar .navbar-form .form-control-wrapper input.form-control::-moz-placeholder,
.navbar-transparent.navbar .navbar-form input.form-control::-moz-placeholder {
   background-color: rgba(255, 255, 255, 0.01) !important;
}
.navbar-transparent.navbar .navbar-form .form-control-wrapper input.form-control:-ms-input-placeholder,
.navbar-transparent.navbar .navbar-form input.form-control:-ms-input-placeholder {
   background-color: rgba(255, 255, 255, 0.01) !important;
}
.navbar-transparent.navbar .navbar-form .form-control-wrapper input.form-control::placeholder,
.navbar-transparent.navbar .navbar-form input.form-control::placeholder {
   background-color: rgba(255, 255, 255, 0.01) !important;
}
.navbar-transparent.navbar .dropdown-menu li > a:hover,
.navbar-transparent.navbar .dropdown-menu li > a:focus {
   color: #03a9f4;
}
.navbar-transparent.navbar .dropdown-menu .active > a {
   background-color: rgba(255, 255, 255, 0.01) !important;
   color: rgb(26, 148, 234) !important;
}
.navbar-transparent.navbar .dropdown-menu .active > a:hover,
.navbar-transparent.navbar .dropdown-menu .active > a:focus {
   color: rgb(26, 148, 234) !important;
}
.radio-transparent input[type=radio]:checked ~ .check {
   background-color: rgba(255, 255, 255, 0.01) !important;
}
.radio-transparent input[type=radio]:checked~.circle, 
.radio-default input[type=radio]:checked~.circle {
   border-color: rgb(255, 255, 255) !important;
}
